
* {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

p {
	font-family: Georgia, "Bitstream Charter", serif;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 12px;
}

a { color: #888; text-decoration: none; }
a:hover { color: #EA6100;}

h1 {
	font-weight: bold;
	color: black;
	font-size: 21px;
}

html {
	height: 100%;
}
body {
	width: 100%;
	text-align: center;
}

#background-image {
  position:fixed;
  top:0;
  left:0;
  height:100%;
}

.home-page {
}

.home-page .main-panel {
    position: absolute;
    top: 0px;
    left: 15%;
    width: 70%;
}


.title-panel {
  display: table;
}

.title-panel div {
  padding-left: 12px;
  float:left;
  padding-top: 62px;
  margin-bottom: 12px;
}

.title-panel div span {
  display: block;
  text-align: right;
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  color: white;
}

.home-page .content-panel {
	clear: both;
	margin-top: 32px;
   border: 1px solid orange;
   background-image: url("transparent.png");
   background-repeat: repeat-y repeat-x;
}

.home-page .left-panel {
	float: left;
}
	
.home-page .right-panel {
	float: right
}

.home-page .right-panel .content-box {
	border-left: 1px dashed white;
}

.home-page .right-panel .content-box {
	margin: 12px;
	border-bottom: 1px dashed white;
	float: left;
}

.trail { font-size: 12px; padding-left: 24px; margin-top: 18px;}
.trail li { display: inline }
.trail .sep { margin-left: 4px; margin-right: 4px;  }


.mainpanel {
	background-color: white;
	background-color:rgba(255,255,255,0.35);
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	overflow: hidden;
}

.layout-with-sidebar td { width: 100%; border: 1px solid white;}
.layout-with-sidebar td { vertical-align: top;}
.layout-with-sidebar td.content2 { width: *; }
.layout-with-sidebar td.sidebar {}

.sidebarold {
	float:right;
	width: 28%;
}

.page-content {
	padding-top: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.page-contentold {
	width: 70%;
	float:left;
	clear: left;
}

.header1 {
	border-bottom: 4px solid black;
	height: 24px;
	width: 100%;
}

/***** Main Menu *****/

.main-menu {
	background-color: black;
	width: 100%;
	margin: 0px;
	height: 40px;
	font-size: 13px;
}

.main-menu li {
	float: left;
	padding-top: 12px;
	padding-left: 24px;
	color: white;
	background-color: black;
}

.main-menu li a, .main-menu li.open.Home a {
	color: grey;
	text-decoration: none;
}

.main-menu li.selected a, .main-menu li.open a, .main-menu li.selected.Home a {
	color: white;
}

/***** Sidebar *****/
.sidebar h1, .sidebar div, .sidebar p { font-size: 14px; margin-bottom: 6px;}
.sidebar { font-size: 14px; }

/***** Side Menu *****/

.sidebar-menu li { list-style: none;}
.sidebar-menu li a { text-decoration: none;}
.sidebar-menu ul { padding-left: 12px;}
.sidebar-menu li.selected a { color: black; }
.sidebar-menu li.selected li a { color: #888; }

/***** Sitemap Menu *****/

.sitemap-menu li { list-style: none;}
.sitemap-menu li a { text-decoration: none;}
.sitemap-menu ul { padding-left: 24px;}


.syntaxhighlighter { font-size: 14px !important;  }
.syntaxhighlighter { padding: 1px !important; }
.syntaxhighlighter .toolbar { display:none; margin-right:40px !important; }