.trail { font-size: 12px; padding-left: 0px; margin-bottom: 17px;}
.trail li { display: inline }
.trail .sep { margin-left: 4px; margin-right: 4px;  }


.title-panel div {
  padding-left: 12px;
  float:left;
  padding-top: 32px;
  margin-bottom: 12px;
}

.title-panel div span {
  display: block;
  text-align: right;
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  color: white;
}
